.jumbotron {
    text-align: center;
}

.display-4 {
    text-align: center;
}

.lead {
    text-align: center;
}

    
#header{
	text-align: center;
}

.burgerInput{
	text-align: center;
}

.row {
	text-align: center;
}

h2 {
    margin-left: 100px;
}
